.pageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://images.pexels.com/photos/5474285/pexels-photo-5474285.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 100vh;
    background-size: 600px 765px;
    background-repeat: no-repeat;
    background-position: center;
}

.card{
    align-self: center;
    background-color:;
    padding: 25px;
    max-height: 500px;
    max-width: 50vw;
    width: 350px;
    border-radius:25px; 


}

.SignUpBtn{
    cursor: pointer;
    background-color:navy;
    color: white;
    padding: 8px;
    margin: 5px;
    border-radius:5px; 
}

.pageHeading{
    font-family:'Courier New', Courier;
    font-weight: bold;
    text-align: center;

}

.labelName{
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.link{
    color:wheat;
    font-weight: 400;
    text-decoration: none;
}

.input{
    background-color:white;
    border-radius: 4px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}


@media screen and (min-width:850px ){
   .card{
       width: 20vw;
   }
   .pageContainer{
   }
}

@media screen and (min-width:668px){
    .pageContainer{
        background-size: 1080px 995px;
    }
}

@media screen and (min-width:900px){
    .pageContainer{
        background-size: 1800px 1225px;
    }
}

